<div class="container">
    <div class="row">
        <div class="col-sm-4 col-centered">
            <div class="btn-group">
                <select class="form-control" id="sel1" (change)="classChange($event.target.value)">
                    <option *ngFor="#class of classes" [value]="class">
                        {{class}}
                    </option>
                </select>
            </div>
        </div>
        <div class="col-sm-4 col-centered">
            Here will be the tag input field
        </div>
        <!-- Optional: clear the XS cols if their content doesn't match in height -->
        <div class="clearfix visible-xs-block"></div>
        <div class="col-sm-4 col-centered">
            <button type="button" class="btn btn-primary" (click)="isCollapsedClass = !isCollapsedClass">Add Class</button>
            <button type="button" class="btn btn-primary" (click)="isCollapsedQuestion = !isCollapsedQuestion">Ask Question</button>
        </div>
    </div>
</div>

<div [collapse]="isCollapsedQuestion" class="card card-block card-header">
    <div class="well well-lg">
        <question-input-form [selectedClass]="selectedClass"></question-input-form>
    </div>
</div>
<div [collapse]="isCollapsedClass" class="card card-block card-header">
    <div class="well well-lg">
        <class-input></class-input>
    </div>
</div>

<question-feed *ngIf="!emptyFeed" [classValue]="selectedClass" [questions]="questions">Loading...</question-feed>
<h4 *ngIf="emptyFeed"> There are no questions for this class yet. Be the first to ask a question!</h4>