

<link rel='stylesheet' href = 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css'/>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<section id="home-slider">
    <div class="container">
        <div class="main-slider">
            <div class="slide-text">
                <h1>Social Media meets the Classroom</h1>
            </div>
            <img src="../images/home/slider/slide1/house.png" class="img-responsive slider-house" alt="slider image">
            <img src="../images/home/slider/slide1/circle1.png" class="slider-circle1" alt="slider image">
            <img src="../images/home/slider/slide1/circle2.png" class="slider-circle2" alt="slider image">
            <img src="../images/home/slider/slide1/cloud1.png" class="slider-cloud1" alt="slider image">
            <img src="../images/home/slider/slide1/cloud2.png" class="slider-cloud2" alt="slider image">
            <img src="../images/home/slider/slide1/cloud3.png" class="slider-cloud3" alt="slider image">
            <img src="../images/home/slider/slide1/sun.png" class="slider-sun" alt="slider image">
            <img src="../images/home/cycle.png" class="slider-cycle" alt="">
        </div>
    </div>
    <!--<div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>-->
</section>
<!--/#home-slider-->

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="single-service">
                    <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                        <img src="../images/home/icon1.png" alt="">
                    </div>
                    <h4>ACCOUNTS</h4>
                    <p>Lecturers have access to special accounts, from which they can moderate class discussions.</p>
                </div>
            </div>
            <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="single-service">
                    <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                        <img src="../images/home/icon2.png" alt="">
                    </div>
                    <h4>Q&A</h4>
                    <p>Student and lecturers can participate in questions and answer sessions.</p>
                </div>
            </div>
            <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                <div class="single-service">
                    <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                        <img src="../images/home/icon3.png" alt="">
                    </div>
                    <h4>PRIVACY</h4>
                    <p>Students can interact with other students and respond to questions anonymously.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#services-->

<section id="features">
    <div class="container">
        <div class="row">
            <div class="single-features">
                <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                    <img src="../images/home/image1.png" class="img-responsive" alt="">
                </div>
                <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                    <h2>Existing Problems</h2>
                    <p>Students do not interact with the lecturer for fear of asking a silly question.</p>
                    <p>Lecturers struggle because they have no idea if students understood the recently taught material.</p>
                    <p>Future lecturers of a particular module, have no way of determining which parts were successful in the past.</p>                </div>
            </div>
            <div class="single-features">
                <div class="col-sm-6 col-sm-offset-1 align-right wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                    <h2>Proposed Solutions</h2>
                    <p>Our app allows students to participate in anonymous Q&A sessions with the lecturer.</p>
                    <p>Lecturers can create polls and pose questions for the students to answer.</p>
                    <p>Future lecturers of the module can access Q&A sessions from previous years.</p>
                </div>
                <div class="col-sm-5 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                    <img src="../images/home/image2.png" class="img-responsive" alt="">
                </div>
            </div>
            <!--
            <div class="single-features">
                <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                    <img src="../images/home/image3.png" class="img-responsive" alt="">
                </div>
                <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                    <h2>Experienced and Enthusiastic</h2>
                    <P>Ut officia cupidatat anim excepteur fugiat cillum ea occaecat rump pork chop tempor. Ut tenderloin veniam commodo. Shankle aliquip short ribs, chicken eiusmod exercitation shank landjaeger spare ribs corned beef.</P>
                </div>
            </div>
            -->
        </div>
    </div>
</section>
<!--/#features-->

<section id="clients">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="clients text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                    <p><img src="../images/home/clients.png" class="img-responsive" alt=""></p>
                    <h1 class="title">Happy Clients</h1>
                </div>
                <div class="clients-logo wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="col-xs-3 col-sm-2">
                        <a href="#"><img src="../images/home/client1.png" class="img-responsive" alt=""></a>
                    </div>
                    <div class="col-xs-3 col-sm-2">
                        <a href="#"><img src="../images/home/client2.png" class="img-responsive" alt=""></a>
                    </div>
                    <div class="col-xs-3 col-sm-2">
                        <a href="#"><img src="../images/home/client3.png" class="img-responsive" alt=""></a>
                    </div>
                    <div class="col-xs-3 col-sm-2">
                        <a href="#"><img src="../images/home/client4.png" class="img-responsive" alt=""></a>
                    </div>
                    <div class="col-xs-3 col-sm-2">
                        <a href="#"><img src="../images/home/client5.png" class="img-responsive" alt=""></a>
                    </div>
                    <div class="col-xs-3 col-sm-2">
                        <a href="#"><img src="../images/home/client6.png" class="img-responsive" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#clients-->

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center bottom-separator">
                <img src="../images/home/under.png" class="img-responsive inline" alt="">
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="testimonial bottom">
                    <h2>Testimonial</h2>
                    <div class="media">
                        <div class="pull-left">
                            <a href="#"><img src="../images/home/profile1.png" alt=""></a>
                        </div>
                        <div class="media-body">
                            <blockquote>Qanda helped me get the feedback I wanted out of my students</blockquote>
                            <h3><a href="#">- Jhon Kalis</a></h3>
                        </div>
                    </div>
                    <div class="media">
                        <div class="pull-left">
                            <a href="#"><img src="../images/home/profile2.png" alt=""></a>
                        </div>
                        <div class="media-body">
                            <blockquote>I could ask questions without fear of speaking in class.</blockquote>
                            <h3><a href="">- Abraham Josef</a></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="contact-info bottom">
                    <h2>Contacts</h2>
                    <address>
                        E-mail: <a href="mailto:someone@example.com">email@email.com</a> <br>
                        Phone: +1 (123) 456 7890 <br>
                        Fax: +1 (123) 456 7891 <br>
                    </address>

                    <h2>Address</h2>
                    <address>
                        Trinity College Dublin, <br>
                        Dublin 2, <br>
                        Ireland <br>
                    </address>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="contact-form bottom">
                    <h2>Send a message</h2>
                    <form id="main-contact-form" name="contact-form" method="post" action="sendemail.php">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" required="required" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" class="form-control" required="required" placeholder="Email Id">
                        </div>
                        <div class="form-group">
                            <textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Your text here"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-submit" value="Submit">
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="copyright-text text-center">
                    <p>&copy; qanda 2016. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--/#footer-->
