
<!-- Link to stylesheet for landing page -->
<link rel='stylesheet' href = '../stylesheets/landing.css'/>


<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<!-- TODO: Needs to be added to the nav bar in app.html

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                &lt;!&ndash;<a class="navbar-brand" href="#myPage">Logo</a>&ndash;&gt;
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#home">HOME</a></li>
                    <li><a href="#about">PROBLEMS</a></li>
                    <li><a href="#goals">SOLUTIONS</a></li>
                    <li><a href="#services">FEATURES</a></li>
                    <li><a href="#contact">CONTACT</a></li>
                </ul>
            </div>
        </div>
    </nav>

-->

    <!-- Container (Home Section) -->
    <div id="home" class="jumbotron text-center">
        <h1>Qanda</h1>
        <p>The App where Social Media meets the Classroom</p>
    </div>

    <!-- Container (About Section) -->
    <div id="about" class="container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <h2>Existing Problems</h2>
                <p>Students do not interact with the lecturer for fear of asking a silly question.</p>
                <p>Lecturers struggle because they have no idea if students understood the recently taught material.</p>
                <p>Future lecturers of a particular module, have no way of determining which parts were successful in the past.</p>
                <!--<br><button class="btn btn-default btn-lg">Get in Touch</button>-->
            </div>
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-signal logo"></span>
            </div>
        </div>
    </div>


    <!-- Container (Goals Section) -->
    <div id="goals" div class="container-fluid bg-grey">
        <div class="row">
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-globe logo slideanim"></span>
            </div>
            <div class="col-sm-8">
                <h2>Proposed Solutions</h2>
                <p>Our app allows students to participate in anonymous Q&A sessions with the lecturer.</p>
                <p>Lecturers can create polls and pose questions for the students to answer.</p>
                <p>Future lecturers of the module can access Q&A sessions from previous years.</p>
            </div>
        </div>
    </div>

    <!-- Container (Features Section) -->
    <div id="services" class="container-fluid text-center">
        <h2>KEY FEATURES</h2>
        <h4>What we offer</h4>
        <br>
        <div class="row slideanim">
            <div class="col-sm-4">
                <span class="glyphicon glyphicon glyphicon-user logo-small"></span>
                <h4>ACCOUNTS</h4>
                <p>Lecturers have access to special accounts, from which they can moderate class discussions.</p>
            </div>
            <div class="col-sm-4">
                <span class="glyphicon glyphicon glyphicon-list-alt logo-small"></span>
                <h4>Q&A</h4>
                <p>Student and lecturers can participate in questions and answer sessions.</p>
            </div>
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-lock logo-small"></span>
                <h4>PRIVACY</h4>
                <p>Students can interact with other students and respond to questions anonymously.</p>
            </div>
        </div>
        <br><br>

        <!-- Container (Contact Section) -->
        <div id="contact" class="container-fluid bg-grey">
            <h2 class="text-center">CONTACT</h2>
            <div class="row">
                <div class="col-sm-5">
                    <p>Contact us and we'll get back to you within 24 hours.</p>
                    <p><span class="glyphicon glyphicon-map-marker"></span> Trinity College Dublin, Ireland</p>
                    <!--<p><span class="glyphicon glyphicon-phone"></span> +00 1515151515</p>-->
                    <p><span class="glyphicon glyphicon-envelope"></span> https://github.com/adonoghuTcd/WebQnA</p>
                </div>
                <div class="col-sm-7 slideanim">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                        </div>
                        <div class="col-sm-6 form-group">
                            <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                        </div>
                    </div>
                    <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <button class="btn btn-default pull-right" type="submit">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="googleMap" style="height:400px;width:100%;"></div>

<!-- TODO: Needs to be implemented in angular2 to work
        <script>
            var myCenter = new google.maps.LatLng(53.343769, -6.251102);

            function initialize() {
                var mapProp = {
                    center:myCenter,
                    zoom:12,
                    scrollwheel:false,
                    draggable:false,
                    mapTypeId:google.maps.MapTypeId.ROADMAP
                };

                var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);

                var marker = new google.maps.Marker({
                    position:myCenter,
                });

                marker.setMap(map);
            }

            google.maps.event.addDomListener(window, 'load', initialize);
        </script>-->

        <footer class="container-fluid text-center">
            <a href="#myPage" title="To Top">
                <span class="glyphicon glyphicon-chevron-up"></span>
            </a>
        </footer>

        <!-- TODO: This scrollspy jquery needs to be implemented in angular 2
        <script>
            $(document).ready(function(){
                // Add smooth scrolling to all links in navbar + footer link
                $(".navbar a, footer a[href='#myPage']").on('click', function(event) {

                    // Prevent default anchor click behavior
                    event.preventDefault();

                    // Store hash
                    var hash = this.hash;

                    // Using jQuery's animate() method to add smooth page scroll
                    // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 900, function(){

                        // Add hash (#) to URL when done scrolling (default click behavior)
                        window.location.hash = hash;
                    });
                });

                $(window).scroll(function() {
                    $(".slideanim").each(function(){
                        var pos = $(this).offset().top;

                        var winTop = $(window).scrollTop();
                        if (pos < winTop + 600) {
                            $(this).addClass("slide");
                        }
                    });
                });
            })
        </script>
        -->
    </div>
</body>
