extends layout

block content
  h1= title
  p You're more than welcome to Alan's second #{title}
  p here's a test from Eoghan and james
  p here's some more from james

  div(class="fb-like", data-share="true", data-width="450", data-show-faces="true")

  script.
    window.fbAsyncInit = function () {
      FB.init({
        appId: '153007398411777',
        xfbml: true,
        version: 'v2.5'
      });
    };

    (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {
        return;
      }
      js = d.createElement(s);
      js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
