doctype html
html
  head
      base(href='/')
      title qanda
      meta(name='viewport', content='width=device-width, initial-scale=1')
      script(src="//cdn.auth0.com/js/lock-8.2.min.js")
      link(rel='stylesheet', href = 'https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/paper/bootstrap.min.css')

      //link(rel='stylesheet', href = 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css',
      //integrity = 'sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin = 'anonymous')

      // 1. Load libraries
      // IE required polyfills, in this exact order
     script(src='dist/lib/moment.min.js')
      script(src='dist/lib/es6-shim.min.js')
      script(src='dist/lib/system-polyfills.js')

      script(src='//code.jquery.com/jquery-2.2.1.min.js')

      script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js',
      integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')

      script(src = 'https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/paper/bootstrap.min.js')
      script(src='dist/lib/angular2-polyfills.min.js')
      script(src='dist/lib/system.js')
      script(src = "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js")
      link(href="http://fonts.googleapis.com/css?family=Montserrat", rel="stylesheet", type="text/css")
      link(href="http://fonts.googleapis.com/css?family=Lato", rel="stylesheet", type="text/css")
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")
      script( src="https://cdn.socket.io/socket.io-1.4.5.js")

      link(rel='stylesheet', href="../stylesheets/qanda.css")

      link(rel="shortcut icon", href="../images/ico/favicon.ico")
      link(rel="apple-touch-icon-precomposed", sizes="144x144", href="../images/ico/apple-touch-icon-144-precomposed.png")
      link(rel="apple-touch-icon-precomposed", sizes="114x114", href="../images/ico/apple-touch-icon-114-precomposed.png")
      link(rel="apple-touch-icon-precomposed", sizes="72x72", href="../images/ico/apple-touch-icon-72-precomposed.png")
      link(rel="apple-touch-icon-precomposed", href="../images/ico/apple-touch-icon-57-precomposed.png")

      // 2. Configure SystemJS
      script.
          System.config({
              defaultJSExtensions: true,
              packages: {
                  "dist/app": {
                      format: 'register',
                      defaultExtension: 'js'
                  }
              },
              map: {
                  moment: "dist/lib/moment.min.js",
                  "angular2-jwt": "dist/lib/angular2-jwt",
                  "ng2-charts": "dist/lib/ng2-charts"
              }
          });

      script(src = '../dist/lib/Rx.min.js')
      script(src = '../dist/lib/angular2.dev.js')
      script(src = '../dist/lib/router.dev.js')
      script(src = '../dist/lib/http.js')
      script(src = '../dist/lib/ng2-bootstrap.min.js')
      script(src = '../dist/lib/ng2-charts.js')

      script.
          System.import('dist/app/boot')
                  .then(null, console.error.bind(console));

body
    block content

