.user-profiler {
  border-radius: 50%;
  margin-top: 40%; }
  @media only screen and (max-width: 769px) {
    .user-profiler {
      margin-left: 6%;
      margin-top: 0%; } }

.navbar {
  border-radius: 0 !important;
  -moz-border-radius: 0 !important; }
