//colors
$color_cerulean_approx: #00b7ff;
$color_violet_eggplant_approx: #a12eb3;
$color_lavender_approx: #b25ae5;
$white: #fff;
$color_pumice_approx: #c5c5c5;
$color_green_haze_approx: #049e64;
$color_sapphire_approx: #354ea0;
$color_iron_approx: #d8d8d8;
$color_malachite_approx: #03db2f;
$color_blaze_orange_approx: #ff6a00;

//fonts
$font_0: Lucida Grande;
$font_1: Helvetica;
$font_2: Arial;
$font_3: sans-serif;
$font_4: Verdana;

body {
  padding: 50px;
  font: 14px $font_0, $font_1, $font_2, $font_3;
  font-family: $font_4;
}
a {
  color: $color_cerulean_approx;
}
.img-circle {
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 50%;
}
.pad-top {
  padding-top: 30px;
}
.pad-bottom {
  padding-bottom: 30px;
}
.hr-clas {
  border-top: 1px solid $color_violet_eggplant_approx;
}
.chat-box-main {
  max-height: 500px;
  overflow: auto;
}
.chat-box-div {
  border: 2px solid $color_violet_eggplant_approx;
  border-bottom: 2px solid $color_violet_eggplant_approx;
}
.chat-box-head {
  padding: 10px 15px;
  border-bottom: 2px solid $color_violet_eggplant_approx;
  background-color: $color_lavender_approx;
  color: $white;
  text-align: center;
}
.chat-box-left {
  width: 100%;
  height: auto;
  padding: 15px;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 5px;
  position: relative;
  border: 1px solid $color_pumice_approx;
  font-size: 12px;
  &:after {
    top: 100%;
    left: 10%;
    border: solid transparent;
    content: " ";
    position: absolute;
    border-top-color: $color_pumice_approx;
    border-width: 15px;
    margin-left: -15px;
  }
}
.chat-box-name-left {
  margin-top: 30px;
  margin-left: 60px;
  text-align: left;
  color: $color_green_haze_approx;
  img {
    max-width: 40px;
    border: 2px solid $color_green_haze_approx;
  }
}
.chat-box-right {
  width: 100%;
  height: auto;
  padding: 15px;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 5px;
  position: relative;
  border: 1px solid $color_pumice_approx;
  font-size: 12px;
  &:after {
    top: 100%;
    right: 10%;
    border: solid transparent;
    content: " ";
    position: absolute;
    border-top-color: $color_pumice_approx;
    border-width: 15px;
    margin-left: -15px;
  }
}
.chat-box-name-right {
  color: $color_sapphire_approx;
  margin-top: 30px;
  margin-right: 60px;
  text-align: right;
  img {
    max-width: 40px;
    border: 2px solid $color_sapphire_approx;
  }
}
.chat-box-footer {
  background-color: $color_iron_approx;
  padding: 10px;
}
.hr-clas-low {
  border-top: 1px solid $color_pumice_approx;
}
.chat-box-online {
  max-height: 554px;
  overflow: auto;
}
.chat-box-online-div {
  border: 2px solid $color_malachite_approx;
  border-bottom: 2px solid $color_malachite_approx;
}
.chat-box-online-head {
  padding: 10px 15px;
  border-bottom: 2px solid $color_malachite_approx;
  background-color: $color_malachite_approx;
  color: $white;
  text-align: center;
}
.chat-box-online-left {
  margin-left: 10px;
  text-align: left;
  color: $color_green_haze_approx;
  img {
    max-width: 30px;
    border: 1px solid $color_green_haze_approx;
    margin-bottom: 10px;
  }
}
.chat-box-online-right {
  margin-right: 10px;
  text-align: right;
  color: $color_sapphire_approx;
  img {
    max-width: 30px;
    border: 1px solid $color_sapphire_approx;
    margin-bottom: 10px;
  }
}
.chat-box-new {
  max-height: 554px;
  overflow: auto;
}
.chat-box-new-div {
  border: 2px solid $color_blaze_orange_approx;
  border-bottom: 2px solid $color_blaze_orange_approx;
}
.chat-box-new-head {
  padding: 10px 15px;
  border-bottom: 2px solid $color_blaze_orange_approx;
  background-color: $color_blaze_orange_approx;
  color: $white;
  text-align: center;
}