<link rel='stylesheet' href = '../stylesheets/answer-modal.css'/>
<div class="modal-content answer-feed-background" >
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="row">
            <div class="col-xs-1 col-sm-1" *ngIf="question.anonymous === ''">
                <img style="align-content: center;margin-top:30px;margin-left:15px;" class="img-circle" src="{{question.picture}}" alt="{{question.username}}" height="35px" width="35px">
            </div>
            <div class="col-xs-11 col-sm-11">
                <h4 style="margin-left: 3%;" *ngIf="question.anonymous === 'true'">{{question.summary}}<small> - Anon</small></h4>
                <h4 style="margin-left: 3%;" *ngIf="question.anonymous === ''">{{question.summary}}<small> - {{question.username}}</small></h4>
            </div>
        </div>
        <div class="row">
            <h5 style="margin-left: 2%;">{{question.question}}</h5>
        </div>
        <div class="row" style="width: 100%; text-align:center;">
            <button type="button" class="btn btn-primary" style="margin: 0 auto;" (click)="isCollapsedAnswer = !isCollapsedAnswer">Answer</button>
            <button type="button" class="btn btn-primary" style="margin: 0 auto;" (click)="isCollapsedStats = !isCollapsedStats">Statistics</button>
        </div>
    </div>

    <div class="modal-body answer-feed-background">
        <div [collapse]="isCollapsedAnswer" class="card card-block card-header">
            <div class="well well-lg">
                <answer-input-form [selectedQuestion]="question"></answer-input-form>
            </div>
        </div>
        <div [collapse]="isCollapsedStats" class="card card-block card-header">
            <div class="container-fluid" *ngIf="question.type === 'Multi-choice'">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-8">
                        <bar-graph [selectedQuestion]="question" *ngIf="!isCollapsedStats" ></bar-graph>
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <doughnut-chart [selectedQuestion]="question" *ngIf="!isCollapsedStats"></doughnut-chart>
                    </div>
                </div>
            </div>
            <div class="container-fluid" *ngIf="question.type === 'Free-text'">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-8">
                        <doughnut-chart [selectedQuestion]="question" *ngIf="!isCollapsedStats"></doughnut-chart>
                    </div>
                    <div class="col-xs-6 col-md-4">
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" style="padding: 3%"
             *ngFor="#answer of question.answers">
            <!--style="border-style: outset; border-color: rgba(19, 124, 158, 0.28); border-radius: 20px;"-->
            <div class="row">
                <div class="col-xs-1 col-md-1" *ngIf="answer.anonymous === ''">
                    <img class="img-circle" src="{{answer.picture}}" alt="Too good-looking" height="35px" width="35px">
                </div>
                <div class="col-xs-1 col-md-1" *ngIf="answer.anonymous === 'true'">
                    <h5><small>Anon</small></h5>
                </div>
                <div class="col-xs-11 col-md-11">
                    <div class="chat-box-left">
                        <h5 style="text-align: left">{{answer.answer}}</h5>
                    </div>
                    <div class="chat-box-name-left" *ngIf="answer.anonymous === ''">
                        <h4 style="text-align: left"><small> - {{answer.username}}</small></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>-->
</div>