<div class="modal-content answer-feed-background" >
    <div class="modal-header">
        <div class="row">
            <div style="text-align: center">
                <h4><small>Select any number of classes below to have them added to your list of joined classes</small></h4>
            </div>
        </div>
    </div>

    <div class="modal-body" style="text-align: center">
        <div class="btn-group" >
            <div class="row" style="width: 100%;" *ngFor="#class of classes">
                <label style="width: 100%; margin: 5%; overflow-x: hidden; text-overflow: ellipsis" class="btn btn-primary" [(ngModel)]="class['joined']" btnCheckbox>{{class['class']}}</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="save()">Save Changes</button>
    </div>
</div>