<link rel='stylesheet' href = '../stylesheets/dashboard.css'/>
<div class="container-fluid  feed-background">
    <div class="container">
        <div class="row" style="margin-top: 1%">
            <div class="col-sm-4 col-centered">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#classListModal" data-backdrop="static" data-keyboard="false">All Classes</button>
                </div>
            </div>
            <div class="col-sm-4 col-centered">
            </div>
            <!-- Optional: clear the XS cols if their content doesn't match in height -->
            <div class="clearfix visible-xs-block"></div>
            <div class="col-sm-4 col-centered">
                <button type="button" class="btn btn-primary" (click)="isCollapsedClass = !isCollapsedClass">Add Class</button>
                <button type="button" class="btn btn-primary" (click)="isCollapsedQuestion = !isCollapsedQuestion">Ask Question</button>
            </div>
        </div>
    </div>

    <div [collapse]="isCollapsedQuestion" class="card card-block card-header">
        <div class="well well-lg">
            <question-input-form [selectedClass]="selectedClass"></question-input-form>
        </div>
    </div>
    <div [collapse]="isCollapsedClass" class="card card-block card-header">
        <div class="well well-lg">
            <class-input></class-input>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <div class = "panel panel-default" style="margin-top: 15px">
                    <div class = "panel-body">
                        <div class="btn-group" style="width: 100%; height: 50%;">
                            <div class="row" style="width: 100%;" *ngFor="#class of classes">
                                <label style="width: 100%; margin: 5%; overflow-x: hidden; text-overflow: ellipsis" class="btn btn-primary" *ngIf="class['joined'] === true" [(ngModel)]="selectedClass" (click)="classChange(class)" btnRadio="{{class['class']}}">{{class['class']}}</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class = "panel panel-default">
                        <div class = "panel-heading" style="background-color: #2196f3">
                            <h5><small style="color: white;">Online Users</small></h5>
                        </div>
                        <div class = "panel-body">
                            <div class="row" style="padding: 5%;" *ngFor="#user of onlineUsers">
                                <div class=".col-xs-6" *ngIf="user != null">
                                    <img style="float: left; margin: 4%;" class=" img-circle" src="{{user.picture}}" alt="User:" height="35px" width="35px">
                                </div>
                                <div class=".col-xs-6" *ngIf="user != null">
                                    <h5><small>{{user.name}}</small></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-9">
                <question-feed *ngIf="!emptyFeed" [classValue]="selectedClass" [questions]="questions">Loading...</question-feed>
                <h4 *ngIf="emptyFeed"> There are no questions for this class yet. Be the first to ask a question!</h4>
            </div>
        </div>
    </div>
</div>
<!-- Class List Modal -->
<div id="classListModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <class-list [classes]="classes"></class-list>
    </div>
</div>