<div class="container-fluid">
    <div class="row pad-top pad-bottom">
        <div>
            <div class="chat-box-div">
                <div class="chat-box-head"></div>
                <div class="panel-body chat-box-main">

                    <div class="well well-lg">
                        <div class="chat-box-left">
                            {{comment.question}}
                        </div>
                        <div class="chat-box-name-left">
                            <img class="img-circle" src="{{userProfile}}" alt="Profiler">
                            -  {{comment.author}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>