<div class="container-fluid">
    <div class="row pad-top pad-bottom">
        <div>
            <div class="chat-box-div">
                <div class="chat-box-head"></div>
                <div class="panel-body chat-box-main">

                    <div class="well well-lg" *ngFor="#question of questions" data-toggle="modal" data-target="#answerModal" (click)="clickedQuestion(question)">
                        <div class="chat-box-left">
                            {{question.summary}}
                        </div>
                        <div class="chat-box-name-left">
                            <img class="img-circle" src="{{userProfile}}" alt="Profiler">
                            -  {{question.anonymous}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
    @media screen and (min-width: 768px) {
        .modal-dialog {
            width: 80%; /* New width for default modal */
        }
        .modal-sm {
            width: 50%; /* New width for small modal */
        }
    }
    @media screen and (min-width: 992px) {
        .modal-lg {
            width: 950px; /* New width for large modal */
        }
    }
</style>
<!-- Answer Modal -->
<div id="answerModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <answer-question [question]="selectedQuestion"></answer-question>
    </div>
</div>